server:
  port: 8081
  compression: 
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css
spring:
  freemarker: 
    suffix: .html
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.0.19:3306/robot?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
 
