<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${pName}.I${upp}Mapper">
    <!-- 基本resultMap -->
    <resultMap type="${pName}.${upp}" id="${upp}">
    	<#list fList as fi>
       	<#if fi_index == 0>
        <id property="${fi.name}" column="${fi.name}"/>
       	</#if>
       	<#if fi_index != 0>
        <result property="${fi.name}" column="${fi.name}"/>
       	</#if>
        </#list>
    </resultMap>
		<!--查询全部数据-->
	<select id="queryList" resultMap="${upp}">
		SELECT
			${selectFieldsAll}
		FROM
			${tName} t
		<where>
			<#list fList as fi>
			<if test="param.${fi.name}!=null and param.${fi.name}!=''">AND t.${fi.name}=${well}{param.${fi.name}}</if>
			</#list>
		</where>
    </select>

	<!--insert【${cName}】并返回主键-->
	<insert id="insert${upp}" parameterType="${pName}.${upp}"  useGeneratedKeys="true" keyColumn="${idName}" keyProperty="${idName}" >
		INSERT INTO ${tName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<#list fList as fi>
			<if test=" ${fi.name} != null and ${fi.name} != '' ">${fi.name},</if>
		</#list>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<#list fList as fi>
			<if test=" ${fi.name} != null and ${fi.name} != '' ">${well}{${fi.name}},</if>
		</#list>
		</trim>
	</insert>
	<sql id="whereIn">
		<where>
			${idName} IN
			<foreach collection="array" item="id" separator="," open="(" close=")">
				${well}{id}
			</foreach>
		</where>
	</sql>
</mapper>