package $pName ;

#foreach($importItem in $importList)
    $importItem
#end
import lombok.Getter;
import lombok.Setter;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

/**
* @类说明: ${cName}--实体类
* @author: ${auth}
* @date : ${time}
**/
@Setter
@Getter
@Accessors(chain = true)
@Builder	
@AllArgsConstructor
@NoArgsConstructor
public class ${upp} {

    //数据库中的字段
    #foreach ($fi in $fList)

        #if ($fi.type == "Date")
        @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
        #end
    private ${fi.type} ${fi.name} ;//  ${fi.comment}
    #end

    //此处可添加查询显示辅助字段

}